In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("../data/train.csv")

In [4]:
data.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [5]:
data.HomePlanet.unique()

array(['Europa', 'Earth', 'Mars', nan], dtype=object)

In [6]:
data.Destination.unique()

array(['TRAPPIST-1e', 'PSO J318.5-22', '55 Cancri e', nan], dtype=object)

In [7]:
data = data.drop(["PassengerId","Cabin","Name"], axis=1)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    8492 non-null   object
 1   CryoSleep     8476 non-null   object
 2   Destination   8511 non-null   object
 3   Age           8514 non-null   float64
 4   VIP           8490 non-null   object
 5   RoomService   8512 non-null   float64
 6   FoodCourt     8510 non-null   float64
 7   ShoppingMall  8485 non-null   float64
 8   Spa           8510 non-null   float64
 9   VRDeck        8505 non-null   float64
 10  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(4)
memory usage: 687.8+ KB

In [9]:
data["HomePlanet"].fillna(data["HomePlanet"].mode().values[0], inplace=True)
data["CryoSleep"].fillna(data["CryoSleep"].mode().values[0], inplace=True)
data["Destination"].fillna(data["Destination"].mode().values[0], inplace=True)
data["VIP"].fillna(data["VIP"].mode().values[0], inplace=True)

In [10]:
data["Age"].fillna(data["Age"].median(), inplace=True)
data["RoomService"].fillna(data["RoomService"].median(), inplace=True)
data["FoodCourt"].fillna(data["FoodCourt"].median(), inplace=True)
data["ShoppingMall"].fillna(data["ShoppingMall"].median(), inplace=True)
data["Spa"].fillna(data["Spa"].median(), inplace=True)
data["VRDeck"].fillna(data["VRDeck"].median(), inplace=True)

In [11]:
print("Missing values")
print(data.isna().sum())

Missing values
HomePlanet      0
CryoSleep       0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
Transported     0
dtype: int64

In [13]:
data.index.name = 'SNo'

In [14]:
data.to_csv("data.csv")